<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/spatula_icon.png">
    <script  type='javascript' src='menu_items.js'></script>
    <meta charset="UTF-8">
    <title>Bob's Alternative Burger Shop</title>
  </head>
  <body>
    {{{ body }}}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
 <script src='menu_items.js'></script>
  </body>
</html>
